.SideMenu {
  width: 20%;
  background-color: #c8c8c8;
  float: left;
  margin: 0;
  border-right: 2px solid #9d9d9d;
  height: 100%;
  padding-left: 0px;
}
.SideMenu li {
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
.SideMenu a {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.SideMenu a:hover {
  color: #6c6e6e;
}