.SideMenu {
  width: 20%;
  background-color: #7a7a7a;
  /*background-color: #94B2C8;*/
  float: left;
  margin: 0;
  /*border-right: 2px solid #032B47;*/
  height: 100%;
  padding-left: 0px;
}
.SideMenu li {
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  color: rgb(190, 190, 190);
}
.SideMenu a {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
/*.SideMenu a:hover {
  color: #dce9f2;
}*/
.SideMenu li:hover {
  padding-left: 14px;
  color: #ecf0ec;
}